.App {
  text-align: center;
  color: rgb(109, 106, 134);
}

.landing,
.game,
.results {
  background: white;
  box-shadow: 0 0 20px gray;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
}
.answers {
  padding: 20px;
}
.answers .answer {
  padding: 10px;
}
.answers .answer .comment {
  padding: 5px 0;
}
.answers .answer.right .comment {
  color: rgb(100, 138, 100);
}
.answers .answer.wrong .comment {
  color: rgb(248, 91, 43);
}
.landing.hide {
  display: none;
}

.actions {
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
