.App {
  text-align: center;
  color: rgb(109, 106, 134);
  animation: fadein 2s;
}

.landing,
.game,
.results {
  background: white;
  box-shadow: 0 0 20px gray;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  animation: fadein 2s;
}
.animate {
  animation: fadein 2s;
}
.answers {
  padding: 20px;
}
.answers .answer {
  padding: 10px;
  border-bottom: 1px dashed lightgray;
  margin-bottom: 10px;
}
.answer .comment {
  padding: 5px 0;
}
.answer.right .comment {
  color: rgb(100, 138, 100);
}
.answer.wrong .comment {
  color: rgb(248, 91, 43);
}
.landing.hide {
  display: none;
}

.actions {
  padding: 10px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
